<% include ../shared/header.ejs %>

<h1> Results</h1>
<% myMovies.forEach(function(results){ %>
<div class="well">

  <a href="movieinfo/<%= results.imdbID %>"><%= results.Title%></a>

</div>
 <% }); %>

<% include ../shared/footer.ejs %>