<div class="well">
<h2><%= movie.Title %></h2>
<p><%= movie.Plot %></p>
    <button class ="btn btn-warning glyphicon glyphicon-eye-open">
    <button class="btn btn-danger glyphicon glyphicon-heart">
</div>