<% include shared/header.ejs %>
  <h1>Welcome to Movie Search!</h1>


  <form method="get" action="/movies">
    <input name="t" type="text" class="form-control" placeholder="Enter Movie Title">
    <button type="submit" class="btn btn-primary">Search</button>
  </form>


<% include shared/footer.ejs %>